.register-main {
  width: 100%;
  padding: 0px 90px 40px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/newbg.jpg);
  background-size: "cover";
  background-repeat: "no-repeat";
}
.register-error-cont .register-main-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

.register-heading {
  font-size: 27px;
  font-family: "Lato", sans-serif;
  color: #999999;
  font-weight: 600;
  text-transform: capitalize;
  margin: 80px 0px 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  width: 100%;
  max-height: fit-content !important;
}

.register-form-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-form-item {
  width: 100%;
}

.register-form-1-1 {
  width: 220px;
}

.register-form-1-2 {
  width: 220px;
}

.name-form-input {
  width: 100% !important;
  height: 40px !important;
  border: 1px solid rgb(141, 137, 137) !important;
  box-shadow: none !important;
}

.register-form-input {
  width: 100% !important;
  height: 40px !important;
  border: 1px solid rgb(141, 137, 137) !important;
  box-shadow: none !important;
}

#register .ant-form-item-label {
  text-transform: uppercase !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
}

#register .ant-form-item-label > label {
  color: #999999 !important;
}

#register_firstname::placeholder,
#register_lastname::placeholder,
#register_username::placeholder,
#register_email::placeholder,
#register_occupation::placeholder,
#register_password::placeholder,
#register_password2::placeholder,
#register_referral::placeholder {
  color: rgb(88, 82, 82) !important;
  font-family: "Lato", sans-serif !important;
  text-transform: capitalize !important;
}

.register-form-country {
  width: 100%;
  height: 40px !important;
  border: 1px solid rgb(141, 137, 137) !important;
}
.register-form-region {
  width: 100%;
  height: 40px !important;
  border: 1px solid rgb(141, 137, 137) !important;
}
.register-form-phone {
  width: 100%;
  height: 40px !important;
  border: 1px solid rgb(141, 137, 137) !important;
  display: flex !important;
  align-items: center !important;
}
.register-form-phone > .form-control {
  width: 100%;
  border: none !important;
  box-shadow: none !important;
}
.register-button-1 {
  width: 100% !important;
  height: 45px !important;
  font-size: 18px !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
  color: white !important;
  background-color: rgb(63, 154, 219) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 25px !important;
}
.register-button-1:disabled {
  background-color: rgb(38, 38, 212, 0.4) !important;
}
.register-button-2 {
  width: 100% !important;
  height: 40px !important;
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.register-button-2 > a {
  color: #999999 !important;
  font-size: 18px !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 600;
  text-decoration: none;
}
.register-button-2 > a:hover {
  color: #474794;
}
.switch-cont {
  height: fit-content;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  margin-bottom: 20px;
}
.switch-cont > .ant-form-item {
  margin: 0px !important;
}
.switch-cont > strong > a {
  text-decoration: none;
}
.switch-cont > strong > a:hover {
  text-decoration: underline;
}
.register-error-cont {
  width: 100%;
}
.register-error-message {
  font-size: 15px;
  color: red;
  text-align: center;
}
@media screen and (max-width: 1350px) {
  .register-main {
    width: 100%;
    padding: 0px 90px 40px 90px;
  }
  .register-main-1 {
    width: 45%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 27px;
    margin: 70px 0px 40px 0px;
  }
}
@media screen and (max-width: 1220px) {
  .register-main {
    width: 100%;
    padding: 0px 70px 40px 70px;
  }
  .register-main-1 {
    width: 50%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 27px;
    margin: 70px 0px 40px 0px;
  }
}
@media screen and (max-width: 1130px) {
  .register-main {
    width: 100%;
    padding: 0px 70px 40px 70px;
  }
  .register-main-1 {
    width: 55%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 25px;
    margin: 70px 0px 40px 0px;
  }
}
@media screen and (max-width: 1000px) {
  .register-main {
    width: 100%;
    padding: 0px 50px 40px 50px;
  }
  .register-main-1 {
    width: 60%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 25px;
    margin: 70px 0px 40px 0px;
  }
}
@media screen and (max-width: 880px) {
  .register-main {
    width: 100%;
    padding: 0px 40px 40px 40px;
  }
  .register-main-1 {
    width: 65%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 25px;
    margin: 60px 0px 40px 0px;
  }
}
@media screen and (max-width: 800px) {
  .register-main {
    width: 100%;
    padding: 0px 40px 40px 40px;
  }
  .register-main-1 {
    width: 75%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 25px;
    margin: 60px 0px 40px 0px;
  }
}
@media screen and (max-width: 700px) {
  .register-main {
    width: 100%;
    padding: 0px 30px 40px 30px;
  }
  .register-main-1 {
    width: 85%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 20px;
    margin: 50px 0px 40px 0px;
  }
  .register-button-1 {
    margin-bottom: 15px !important;
  }
}
@media screen and (max-width: 600px) {
  .register-main {
    width: 100%;
    padding: 0px 20px 40px 20px;
  }
  .register-main-1 {
    width: 90%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 20px;
    margin: 40px 0px 40px 0px;
  }
  .register-button-1 {
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 555px) {
  .register-main {
    width: 100%;
    padding: 0px 20px 40px 20px;
  }
  .register-main-1 {
    width: 75%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 20px;
    margin: 30px 0px 20px 0px;
  }
  .register-form-1 {
    flex-direction: column;
  }
  .register-form-item {
    width: 100%;
  }
  .register-form-1-1 {
    width: 100%;
  }
  .register-form-1-2 {
    width: 100%;
  }
  .register-button-1 {
    margin-bottom: 10px !important;
  }
}
@media screen and (max-width: 500px) {
  .register-main-1 {
    width: 76%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 16px;
    margin: 30px 0px 20px 0px;
  }
  .name-form-input {
    height: 30px !important;
  }

  .register-form-input {
    height: 30px !important;
  }
  .register-form-country {
    height: 30px !important;
  }
  .register-form-region {
    height: 30px !important;
  }
  .register-form-phone {
    height: 40px !important;
  }
  .register-button-1 {
    height: 30px !important;
    font-size: 16px !important;

    font-weight: 500 !important;

    margin-bottom: 0px !important;
  }

  .register-button-2 {
    height: 30px !important;
  }
  .register-button-2 > a {
    font-size: 16px !important;

    font-weight: 500;
  }
  #register .ant-form-item-label {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  .register-main-1 {
    width: 85%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 16px;
    margin: 30px 0px 20px 0px;
  }
  .name-form-input {
    height: 30px !important;
  }

  .register-form-input {
    height: 30px !important;
  }
  .register-form-country {
    height: 30px !important;
  }
  .register-form-region {
    height: 30px !important;
  }
  .register-form-phone {
    height: 40px !important;
  }
  .register-button-1 {
    height: 30px !important;
    font-size: 16px !important;

    font-weight: 500 !important;

    margin-bottom: 0px !important;
  }

  .register-button-2 {
    height: 30px !important;
  }
  .register-button-2 > a {
    font-size: 16px !important;

    font-weight: 500;
  }
  #register .ant-form-item-label {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 300px) {
  .register-main-1 {
    width: 90%;
    padding: 0px 0px 0px 0px;
  }
  .register-heading {
    font-size: 16px;
    margin: 30px 0px 20px 0px;
  }
  .name-form-input {
    height: 30px !important;
  }

  .register-form-input {
    height: 30px !important;
  }
  .register-form-country {
    height: 30px !important;
  }
  .register-form-region {
    height: 30px !important;
  }
  .register-form-phone {
    height: 40px !important;
  }
  .register-button-1 {
    height: 30px !important;
    font-size: 16px !important;

    font-weight: 500 !important;

    margin-bottom: 0px !important;
  }

  .register-button-2 {
    height: 30px !important;
  }
  .register-button-2 > a {
    font-size: 16px !important;

    font-weight: 500;
  }
  #register .ant-form-item-label {
    font-size: 10px !important;
  }
}
