.reusebg {
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba(8, 8, 14, 0.6),
      rgba(8, 8, 14, 0.6)
    ),
    url(../../images//reuse.jpg);
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-blend-mode: darken;
}
.reusebg:before {
  right: 50%;
  border-right: 125px solid transparent;
}
.reusebg:after {
  left: 50%;
  border-left: 125px solid transparent;
}

.reusebg:after,
.reusebg:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 8;
  border-bottom: 30px solid rgb(22,24,28);
  transform: rotate(0.000001deg);
}
