.confirm-withdrawal-main {
  width: 100%;
  min-height: 80vh;
  padding: 0px 90px 40px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.confirm-withdrawal-main-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
}
.confirm-withdrawal-heading {
  font-size: 27px;
  font-family: "Lato", sans-serif;
  color: #0095eb;
  text-transform: capitalize;
  margin: 70px 0px 20px 0px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.confirm-withdrawal-main > p {
  width: 70%;
  font-family: "Lato", sans-serif;
  color: #535050;
  text-align: justify;
}
.pspan {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.confirm-withdrawal-form {
  width: 100%;
}

.confirm-withdrawal-form-input {
  width: 100% !important;
  height: 40px !important;
  border: 1px solid rgb(141, 137, 137) !important;
  box-shadow: none !important;
}

#login_email::placeholder {
  color: #999999 !important;
  font-family: "Lato", sans-serif !important;
  text-transform: capitalize;
}

.confirm-withdrawal-form-button {
  width: 100% !important;
  height: 45px !important;
  font-size: 18px !important;
  font-family: "Lato", sans-serif !important;
  font-weight: 600 !important;
  color: white !important;
  background-color: rgb(63, 154, 219) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 15px 0px 0px 0px !important;
}
.confirm-withdrawal-form-button:disabled {
  background-color: rgb(38, 38, 212, 0.4) !important;
}
.confirm-withdrawal-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirm-withdrawal-cont > p {
  margin-bottom: 0px;
}

.confirm-withdrawal-cont > a {
  color: black;
  text-decoration: none;
}
.confirm-withdrawal-cont > a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1350px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 90px 40px 90px;
  }
  .confirm-withdrawal-main-1 {
    width: 35%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 27px;
    margin: 70px 0px 40px 0px;
  }
  .confirm-withdrawal-main > p {
    width: 70%;
  }
}
@media screen and (max-width: 1220px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 70px 40px 70px;
  }
  .confirm-withdrawal-main-1 {
    width: 35%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 27px;
    margin: 70px 0px 40px 0px;
  }
}
@media screen and (max-width: 1130px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 70px 40px 70px;
  }
  .confirm-withdrawal-main-1 {
    width: 40%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 25px;
    margin: 70px 0px 40px 0px;
  }
  .confirm-withdrawal-main > p {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 50px 40px 50px;
  }
  .confirm-withdrawal-main-1 {
    width: 42%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 25px;
    margin: 70px 0px 40px 0px;
  }
}
@media screen and (max-width: 880px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 40px 40px 40px;
  }
  .confirm-withdrawal-main-1 {
    width: 45%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 25px;
    margin: 60px 0px 40px 0px;
  }
  .confirm-withdrawal-main > p {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 40px 40px 40px;
  }
  .confirm-withdrawal-main-1 {
    width: 45%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 25px;
    margin: 60px 0px 40px 0px;
  }
}
@media screen and (max-width: 700px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 30px 40px 30px;
  }
  .confirm-withdrawal-main-1 {
    width: 50%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 20px;
    margin: 50px 0px 40px 0px;
  }
  .confirm-withdrawal-form-button {
    margin: 15px 0px 0px 0px !important;
  }
}
@media screen and (max-width: 600px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 20px 40px 20px;
  }
  .confirm-withdrawal-main-1 {
    width: 55%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 20px;
    margin: 40px 0px 40px 0px;
  }
  .confirm-withdrawal-form-button {
    margin: 10px 0px 0px 0px !important;
  }
  .confirm-withdrawal-main > p {
    width: 95%;
  }
}
@media screen and (max-width: 555px) {
  .confirm-withdrawal-main {
    width: 100%;
    padding: 0px 20px 40px 20px;
  }
  .confirm-withdrawal-main-1 {
    width: 57%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 20px;
    margin: 30px 0px 20px 0px;
  }
}
@media screen and (max-width: 500px) {
  .confirm-withdrawal-main-1 {
    width: 60%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 16px;
    margin: 30px 0px 20px 0px;
  }

  .confirm-withdrawal-form-input {
    height: 30px !important;
  }

  .confirm-withdrawal-form-button {
    height: 30px !important;
    font-size: 16px !important;

    font-weight: 500 !important;
  }
}
@media screen and (max-width: 400px) {
  .confirm-withdrawal-main-1 {
    width: 85%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 16px;
    margin: 30px 0px 20px 0px;
  }

  .confirm-withdrawal-form-input {
    height: 30px !important;
  }

  .confirm-withdrawal-form-button {
    height: 30px !important;
    font-size: 16px !important;

    font-weight: 500 !important;
  }
  .confirm-withdrawal-main > p {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .confirm-withdrawal-main-1 {
    width: 90%;
    padding: 0px 0px 0px 0px;
  }
  .confirm-withdrawal-heading {
    font-size: 16px;
    margin: 30px 0px 20px 0px;
  }

  .confirm-withdrawal-form-input {
    height: 30px !important;
  }
  .confirm-withdrawal-form-button {
    height: 30px !important;
    font-size: 16px !important;

    font-weight: 500 !important;
  }
}
