.sentmails-main {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0px 0px 0px;
}

.sentmails-main > h4 {
  width: 100%;
  text-align: center;
  color: darkblue;
  text-transform: uppercase;
 font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.sentmails-main-1-1 {
  width: 47%;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(228, 226, 226) !important;
  margin: 15px 10px !important;
  padding: 25px 15px !important;
  border-radius: 10px;
}

.sentmails-title {
  font-size: 16px;
  color: rgb(39, 29, 80);
  font-weight: 600;
 font-family: 'Lato', sans-serif;
  text-align: center;
}
.sentmails-body {
  font-size: 16px;
  color: black;
 font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
}

.sentmails-date {
  font-size: 14px;
  color: black;
 font-family: 'Lato', sans-serif;
  text-align: right;
}

.sentmails-link {
  text-decoration: none;
 font-family: 'Lato', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .sentmails-main {
    padding: 40px 0px 0px 0px;
  }
  .sentmails-main > h4 {
    width: 100%;
    font-size: 23px;
    margin-bottom: 20px;
  }

  .sentmails-main-1-1 {
    width: 47%;
    margin: 15px 10px !important;
    padding: 25px 15px !important;
  }
}

@media screen and (max-width: 1100px) {
  .sentmails-main {
    padding: 40px 0px 0px 0px;
  }
  .sentmails-main > h4 {
    width: 100%;
    font-size: 23px;
    margin-bottom: 20px;
  }

  .sentmails-main-1-1 {
    width: 45%;
    margin: 15px 10px !important;
    padding: 25px 15px !important;
  }
}
@media screen and (max-width: 800px) {
  .sentmails-main {
    padding: 10px 0px 0px 0px;
  }
  .sentmails-main > h4 {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .sentmails-main-1{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .sentmails-main-1-1 {
    width: 85%;
    margin: 15px 10px !important;
    padding: 25px 15px !important;
   
  }
}
@media screen and (max-width: 600px) {
  .sentmails-main {
    padding: 10px 0px 0px 0px;
  }
  .sentmails-main > h4 {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sentmails-main-1-1 {
    width: 100%;
    margin: 15px 10px !important;
    padding: 25px 15px !important;
   
  }
}
