.withdraw-main {
  width: 100%;
  min-height: 100vh;
  padding: 50px 10px 0px 10px;
}
.withdraw-main > h3 {
  width: 100%;
  text-align: center;
  color: #0095eb;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.withdraw-main-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0px;
}
.withdraw-main-1-1 {
  width: fit-content;
}
.withdraw-main-1-2 {
  width: fit-content;
  margin-left: 40px;
}
.withdraw-select-item {
  width: 30vw !important;
  height: 35px !important;
  border: 1px solid #999999 !important;
  box-shadow: none !important;
  
}
.withdraw-cryptocoin-select,
.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.withdraw-amount-form-item {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  margin-bottom: 25px !important;
}

.withdraw-amount-form-input {
  width: 30vw !important;
  height: 35px !important;
  box-shadow: none !important;
  outline: none !important;
}
.withdraw-amount-form-item .ant-input-number,
.withdraw-amount-form-item .ant-input-number-in-form-item {
  border-top: 1px solid #999999 !important;
  border-bottom: 1px solid #999999 !important;
  border-left: 1px solid #999999 !important;
}
.withdraw-amount-form-item .ant-input-number-input-wrap {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.withdraw-amount-form-item .ant-input-number-group-addon {
  border-top: 1px solid #999999 !important;
  border-bottom: 1px solid #999999 !important;
  border-right: 1px solid #999999 !important;
  box-shadow: none !important;
  outline: none !important;
}

.withdraw-amount-form-item .ant-input-number {
  width: 100% !important;
}

.withdraw-form-input {
  width: 30vw !important;
  height: 35px !important;
  border: 1px solid #999999 !important;
  box-shadow: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.withdraw-button-class {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.withraw-button-item {
  width: fit-content !important;
}
.withdraw-button {
  width: 30vw !important;
  height: 40px !important;
  font-size: 18px !important;
  background-color: #0095eb !important;
  font-weight: 600 !important;
  color: white !important;
  box-shadow: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 0px !important;
}

.withdraw-table {
  width: 100%;
  padding: 30px 0px 0px 0px;
}
.withdraw-table > h4 {
  width: 100%;
  text-align: center;
  color: #0095eb;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.table-data {
  text-transform: uppercase !important;
}
.table-data-1 {
  text-transform: capitalize !important;
}
.crypto-coin-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.withdraw-main-new{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deposit-short-note{
  color: red;
}
@media screen and (max-width: 1300px) {
  .withdraw-main {
    padding: 60px 10px 30px 10px;
  }
}
@media screen and (max-width: 1100px) {
  .withdraw-main {
    padding: 65px 10px 30px 10px;
  }
}
@media screen and (max-width: 900px) {
  .withdraw-main {
    padding: 50px 10px 30px 10px;
  }
  .withdraw-main > h3 {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .withdraw-main-1-1 {
    width: fit-content;

  }
  .withdraw-main-1-2 {
    width: fit-content;
    margin-left: 30px;
  }

  .withdraw-select-item {
    width: 35vw !important;
  }

  .withdraw-amount-form-input {
    width: 35vw !important;
  }

  .withdraw-form-input {
    width: 35vw !important;
  }

  .withdraw-button {
    width: 35vw !important;
    height: 35px !important;
    font-size: 18px !important;
  }
  .withdraw-table > h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .withdraw-main {
    padding: 0px 0px 0px 0px;
  }
  .withdraw-main > h3 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .withdraw-main-1-1 {
    width: fit-content;
    
  }
  .withdraw-main-1-2 {
    width: fit-content;
    margin-left: 15px;
  }

  .withdraw-select-item {
    width: 75vw !important;
  }

  .withdraw-amount-form-input {
    width: 75vw !important;
  }

  .withdraw-form-input {
    width: 75vw !important;
  }

  .withdraw-button {
    width: 75vw !important;
    height: 35px !important;
    font-size: 18px !important;
  }
  .withdraw-table {
    padding: 10px 0px 0px 0px;
  }
  .withdraw-table > h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .invest-head {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 450px) {
  .withdraw-main {
    padding: 0px 0px 0px 0px;
  }
  .withdraw-main > h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .withdraw-main-1 {
    flex-direction: column;
    align-items: center;
  }
  .withdraw-main-1-1 {
    margin: 0px;
  }
  .withdraw-main-1-2 {
    margin: 0px;
  }
  .withdraw-select-item {
    width: 85vw !important;
  }

  .withdraw-amount-form-input {
    width: 85vw !important;
  }

  .withdraw-form-input {
    width: 85vw !important;
  }

  .withdraw-button {
    width: 85vw !important;
    height: 35px !important;
    font-size: 18px !important;
  }
  .withdraw-table {
    padding: 10px 0px 0px 0px;
  }
  .withdraw-table > h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .invest-head {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 350px) {
  .withdraw-main {
    padding: 0px 0px 0px 0px;
  }
  .withdraw-main > h3 {
    font-size: 14px;
    margin-bottom: 15px;
  }
  .withdraw-main-1 {
    flex-direction: column;
    align-items: center;
  }
  .withdraw-main-1-1 {
    margin: 0px;
  }
  .withdraw-main-1-2 {
    margin: 0px;
  }
  .withdraw-select-item {
    width: 90vw !important;
  }

  .withdraw-amount-form-input {
    width: 90vw !important;
  }

  .withdraw-form-input {
    width: 90vw !important;
  }

  .withdraw-button {
    width: 90vw !important;
    height: 35px !important;
    font-size: 18px !important;
  }
  .withdraw-table {
    padding: 10px 0px 0px 0px;
  }
  .withdraw-table > h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .invest-head {
    font-size: 14px !important;
  }
}
