.receivedmail-main {
  width: 100%;
  min-height: 100vh;
  padding: 50px 10px 0px 10px;
}

.receivedmail-main > h4 {
  width: 100%;
  text-align: center;
  color: darkblue;
  text-transform: uppercase;
 font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.receivedmail-main-1 {
  height: 70vh;
  padding: 40px 30px;
  box-shadow: 0px 0px 20px rgb(228, 226, 226) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.receivedmail-from{
  font-size: 16px;
  color: rgb(39, 29, 80);
  font-weight: 600;
 font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 5px 0px;
}

.receivedmail-title {
  font-size: 16px;
  color: rgb(39, 29, 80);
  font-weight: 600;
 font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 5px 0px;
}

.receivedmail-date {
  font-size: 14px;
  color: black;
 font-family: 'Montserrat', sans-serif;
}

.receivedmail-main-1-2 {
  width: 100%;
}

.receivedmail-main-1-2 > h5 {
  font-size: 17px;
  color: black;
 font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.receivedmail-main-1-2 > p {
  font-size: 15px;
  color: black;
 font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

.receivedmail-button {
  width: 200px !important;
  height: 35px !important;
  font-size: 18px !important;
  background-color: blue !important;
  font-weight: 600 !important;
  color: white !important;
  box-shadow: none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 20px !important;
  border: none;
}

@media screen and (max-width: 800px) {
  .receivedmail-main {
    width: 100%;
    min-height: 100vh;
    padding: 30px 0px 0px 0px;
  }

  .receivedmail-main > h4 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .receivedmail-main-1 {
    height: 70vh;
    padding: 30px 20px;
  }

  .receivedmail-button {
    font-size: 16px !important;
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 600px) {
  .receivedmail-main {
    width: 100%;
    min-height: fit-content;
    padding: 10px 0px 0px 0px;
  }

  .receivedmail-main > h4 {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .receivedmail-main-1 {
    height: 70vh;
    padding: 30px 20px;
  }

  .receivedmail-button {
    font-size: 16px !important;
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .receivedmail-main > h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
