.maintenance-main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maintenance-main > h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: rgb(6, 6, 77);
 font-family: 'Montserrat', sans-serif;
}
