.wallet-main {
  width: 100%;
  min-height: 100vh;
}
.wallet-main-1 {
  width: 100%;
  min-height: 100vh;
  padding: 30px 40px 30px 40px;
  margin-top: 60px;
  background-image: linear-gradient(
      to bottom,
      rgba(228, 232, 245, 0.1),
      rgba(166, 168, 177, 0.3)
    ),
    url(../../images/userbg.jpg);
  background-size: "cover";
  background-repeat: "no-repeat";
}

.wallet-main-1-1 {
  align-items: center !important;
  justify-content: space-between !important;
  padding: 20px 0px 40px 0px !important;
}

.wallet-main-1-2-1 {
  width: 30%;
  background-color: white;
  box-shadow: 0px 0px 20px rgb(246, 243, 243) !important;
  margin: 15px 10px !important;
  padding: 25px 40px !important;
  border-radius: 10px;
}
.wallet-sub-1 {
  width: 100%;
  margin-bottom: 10px;
}
.wallet-sub-1-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wallet-sub-1-1 > div > p {
  color: #999999;
  margin: 0px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.wallet-sub-1 > p {
  color: rgb(57, 55, 55);
  font-size: 13px;
  font-weight: 600;
  font-family: "PT Serif", serif;
  margin: 0px;
}

.wallet-sub-2 {
  width: 100%;
}
.wallet-balance {
  color: #0095eb;

  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0px;
}

.wallet-coin-value,
.wallet-coin-value-1 {
  color: rgb(57, 55, 55);
  font-size: 12px;
  font-weight: 600;
  font-family: "PT Serif", serif;
  margin: 0px;
}

.wallet-coin-value > span {
  font-size: 10px;
}

.wallet-coin-value-eur {
  color: rgb(57, 55, 55);
  font-size: 12px;
  font-weight: 600;
  font-family: "PT Serif", serif;
  margin: 0px;
}

.wallet-coin-value-eur > span {
  font-size: 10px;
}

.wallet-btc {
  font-size: 10px;
  color: rgb(247, 147, 26);
}
.wallet-link {
  text-decoration: none;
  color: #0095eb;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
/* @media screen and (max-width: 1350px) {
  .wallet-main-1-2-1{
    width: 40% !important;
  }
  
} */

@media screen and (max-width: 1000px) {
  .wallet-main-1-2-1 {
    width: 45% !important;
  }
}
@media screen and (max-width: 850px) {
  .wallet-main-1-2-1 {
    width: 47% !important;
  }
}

@media screen and (max-width: 800px) {
  .wallet-main-1 {
    padding: 30px 20px 30px 20px;
    margin-top: 0px;
    border: 10px solid rgb(216, 216, 218, 0.4);
  }
  .wallet-main-1-2-1 {
    width: 45% !important;
  }
}
@media screen and (max-width: 600px) {
  .wallet-main-1-2-1 {
    width: 70% !important;
  }
}

@media screen and (max-width: 500px) {
  .wallet-main-1-2-1 {
    width: 90% !important;
  }
}
@media screen and (max-width: 400px) {
  .wallet-main-1-2-1 {
    width: 100% !important;
  }
}
